
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 90vh;
    width: 100%;

}

.home img{
    height: 500px;
}

.home p{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.home span{
    color: var(--red);
}

.home span:hover{
    color: var(--secondary);
}

.home button{
    background-color: var(--red);
    color: var(--soft-white);
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 1.25rem;
    padding: 1rem;
    cursor: pointer;
    width: 250px;

}

.home button:hover{
    background-color: var(--secondary);
}
